/*
   Color scheme 0:
   - 464655
   - 94958b
   - b7b6c1
   - d5cfe1
   - eddfef

   Color scheme 1:
   - 989788
   - 51344d
   - 6f5060
   - a78682
   - e7ebc5

   Color scheme 2:
   - 373f51
   - 008dd5
   - dfbbb1
   - f56476
   - e43f6f

   Color scheme 3:
   - 6f2dbd
   - a663cc
   - b298dc
   - b8d0eb
   - b9faf8

   Color scheme 4:
   - 26532b
   - 399e5a
   - 5abcb9
   - 63e2c6
   - 6ef9f5

   Color scheme 5:
   - 44355b
   - 31263e
   - 221e22
   - eca72c
   - ee5622
*/

.hidden {
   display: none;
}

.not-hidden {
   display: initial;
}

html {
   height: 100%;
}

body {
   height: 80%;
   margin: 20px 50px 10px 50px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 1.2em;
   transition: ease-out 0.3s;
   -moz-transition: ease-out 0.3s;
   -o-transition: ease-out 0.3s;
}

button {
   font-size: initial;
   border-radius: 10px;
}

button:hover {
   background-color: #aaaaaa;
}

label {
   display: inline-block;
   width: 123px;
}

select {
   border-radius: 5px;
}

input {
   border-radius: 5px;
}

#header {
   border-radius: 25px;
   padding: 5px 10px 5px 10px;
}

#body {
   height: 100%;
   border-radius: 25px;
   padding: 5px 10px 5px 10px;
}

.itemContainer {
   border: 1px solid black;
   padding: 10px;
}

.projectContainer {
   border: 2px solid black;
   padding: 10px;
}

.floatingMenu {
   width: 80%;
   position: fixed;
   z-index: 2;
   left: 8%;
   top: 25%;
   padding: 20px;
   background-color: #333333;
   border: 2px solid white;
   border-radius: 25px;
   color: white;
}

.projectListing {
   cursor: pointer;
   font-weight: normal;
   padding: 5px;
}

.projectListingFloating {
   display: none;
}

.projectListing:hover .projectListingFloating {
   display: inline;
}

.projectLinkBack {
   cursor: pointer;
}

#itemSortOption {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px dashed black;
   border-radius: 0;
   background-color: transparent;
   font-size: 0.6em;
}

/*#itemSortOption::-ms-expand {
   display: none;
}*/

#projectDropDown {
   position: fixed;
   margin: 0;
   width: 150px;
   padding: 10px;
   font-size: 0.6em;
   border: 1px solid white;
   background-color: #333333;
   color: white;
   list-style-type: none;
}

#projectDropDown div {
   cursor: pointer;
}

#projectDropDown div:hover {
   background-color: #666666;
}

.itemListing {
   cursor: pointer;
   font-weight: normal;
   padding: 3px;
   list-style-type: none;
}

.itemListingFloating {
   display: none;
}

.itemListingFloatingActive {
   display: inline;
}

.itemListing:hover .itemListingFloating {
   display: inline;
}

.projectListing:hover, .itemListing:hover, .projectLinkBack:hover {
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.itemTitle {
   font-weight: normal;
}

.itemTitle:hover, .itemTitleExpanded {
   font-weight: bold;
}

.itemDropDown {
   position: fixed;
   margin: 0;
   width: 80px;
   padding: 10px;
   font-size: 0.8em;
   border: 1px solid white;
   background-color: #333333;
   color: white;
   list-style-type: none;
}

.itemDropDown div:hover {
   background-color: #666666;
}

.itemInfo {
   max-height: 0;
   overflow: hidden;
}

.itemInfoExpanded {
   max-height: initial;
}

#settingsBtn {
   float: right;
   cursor: pointer;
}

#settingsCloseBtn {
   text-align: right;
   cursor: pointer;
}

#settings {
   position: fixed;
   top: 0;
   right: -350px;
   height: 100%;
   width: 325px;
   z-index: 4;
   background-color: #333333;
   border-left: 2px solid white;
   color: white;
   overflow-x: hidden;
   padding: 10px;
   transition: ease-out 0.3s;
   -moz-transition: ease-out 0.3s;
   -o-transition: ease-out 0.3s;
}

#settings label {
   width: 280px;
}

#dimmer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: black;
   opacity: 0;
   transition: ease-out 0.3s;
   -moz-transition: ease-out 0.3s;
   -o-transition: ease-out 0.3s;
}

.eraseWarningDiv {
   width: 80%;
   position: fixed;
   z-index: 6;
   left: 8%;
   top: 25%;
   padding: 20px;
   background-color: #333333;
   border: 2px solid red;
   border-radius: 25px;
   color: white;
   text-align: center;
}

.body_scheme0 {
   background-color: #464655;
}

.body_scheme1 {
   background-color: #989788;
}

.body_scheme2 {
   background-color: #373f51;
}

.body_scheme3 {
   background-color: #6f2dbd;
}

.body_scheme4 {
   background-color: #26532b;
}

.body_scheme5 {
   background-color: #44355b;
}

.header_scheme0 {
   background-color: #b7b6c1;
}

.header_scheme1 {
   background-color: #6f5060;
   color: white;
}

.header_scheme2 {
   background-color: #282539;
   color: white;
}

.header_scheme3 {
   background-color: #b298dc;
}

.header_scheme4 {
   background-color: #5abcb9;
   color: white;
}

.header_scheme5 {
   background-color: #221e22;
   color: white;
}

.bodydiv_scheme0 {
   background-color: #eddfef;
}

.bodydiv_scheme1 {
   background-color: #e7ebc5;
}

.bodydiv_scheme2 {
   background-color: #e43f6f;
}

.bodydiv_scheme3 {
   background-color: #b298dc;
}

.bodydiv_scheme4 {
   background-color: #6ef9f5;
}

.bodydiv_scheme5 {
   background-color: #ee5622;
}